<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">
  <div class="form-container">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input [(ngModel)]="edad" type="number" required></ion-input>
    </ion-item>

    <ion-button expand="block" color="tertiary" (click)="verificarEdad()">
      Verificar Edad
    </ion-button>

    <div *ngIf="resultado" class="resultado">
      <p>{{ resultado }}</p>
    </div>
  </div>
</ion-content>

